@font-face {
  font-family: 'Playpen Sans';
  src: url('./accets/PlaypenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Playpen Sans';
}
.container-image{
  width: 100%;
  padding: 50px 0px;
  border-radius: 10px;
}
.wrapper{
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #d6c80a5f;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.menu{
  display: flex;
  justify-content: center;
  gap: 80px;
}

.container-letter{
  display: inline;
  padding: 5px;
  font-size: 30px;
  font-family: 'Playpen Sans';
}
.container-missing-letter{
  border:  1px solid orange;
  height: 34px;
  padding: 2px 2px;
  font-size: 30px;
  width: 20px;
  padding-left: 5px;
  font-family: 'Playpen Sans';
}
.container-word{
  width: 300px;
  margin: 20px auto;
  text-align: left;

}

.button-check,
.results-button,
.start-button,
.button-back {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-check:after,
.results-button:after,
.start-button:after,
.button-back:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-check:main,
.button-check:focus,
.results-button:main,
.results-button:focus,
.start-button:main,
.start-button:focus,
.button-back:main,
.button-back:focus {
  user-select: auto;
}

.button-check:hover:not(:disabled),
.results-button:hover:not(:disabled),
.start-button:hover:not(:disabled),
.button-back:hover:not(:disabled){
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-check:disabled,
.results-button:disabled,
.start-button:disabled,
.button-back:disabled {
  cursor: auto;
}

.button-check:active,
.results-button:active,
.start-button:active,
.button-back:active {
  border-width: 4px 0 0;
  background: none;
}
.results-button{
  background-color: #0ad61b;
}
.results-button:after {
  background-color: #42ec50;
}
.start-button{
  background-color: #d6c80a;
}
.start-button:after {
  background-color: #e9f157;
}
.button-back{
  background-color: #d26c07;
}
.button-back:after{
  background-color: #ff840a;
}
.wrong-answer{
  color: red;
}
.none{
  display: none;
}
.results-wrapper{
  width: 70%;
  height: 500px;
  margin: 20px auto;
  background-color: rgba(248, 248, 56, 0.494);
}
.container-result,
.results__header{
  display: flex;
  border-bottom: 2px solid green;
}
.results__headers_number,
.results__headers_count {
  width: calc(100% /6);
  padding: 10px 20px;
  color: rgb(11, 190, 5);
  border-right: 1px solid green;
}

.results__headers_wrong-answers{
  padding: 10px 20px;
  color: rgb(11, 190, 5);
}

.container-result > div {
  width: calc(100% /6);
  padding: 10px 20px;
  border-right: 1px solid green;
}
.container-result > div:last-child{
  width: calc(100% /2.5);
  border-right: none;
}
.results__wrong-answers{
  color: red;
}
